{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
	<label for="ingredients">Ingredients</label>
	<textarea name="ingredients" id="ingredients">{{request.form['ingredients'] }}</textarea>
	<label for="steps">Steps</label>
	<textarea name="steps" id="steps">{{request.form['steps'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}